<header>
    <nav>
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="#About us">Sobre Nosotros</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
    <div class="logo">
      <a href="/home">
        <h1>CANALNAV</h1>
      </a>
     
    </div>
    <div class="botones-accion">
      <a href="/users" class="botonBonito">Mostrar todos los usuarios</a>
      <a (click)="toggleRegisterCard()" class="botonBonito">Registrarse</a>
    </div>
  </header>
  <div class="overlay" *ngIf="showLoginCard" >
    <app-login-card (keydown.escape)="closeLoginCard()" ></app-login-card>
  </div>
  <div class="overlay" *ngIf="showRegisterCard" >
    <app-register-card (keydown.escape)="closeRegisterCard()"></app-register-card>
  </div>