<div class="layer1">
  <h2>Transporte de alta calidad</h2>
  <div class="content">
    <div class="resumeText">
      <p>Encargados de proveer servicios de transporte de mercancías de alta calidad, garantizando la seguridad y
        puntualidad en cada entrega.</p>
        <a (click)="toggleRegisterCard()" class="botonBonito">Registrate Ahora</a>
    </div>
    <div class="Seguimiento">
      <h3>Rastrear Mercancía</h3>
      <input type="text" placeholder="Ingresa el ID de rastreo...">
      <button class="botonBonito">Buscar</button>
    </div>
  </div>
</div>
<div class="usuario">
  <h4 class="alterLayer">¿Eres Usuario?</h4>
  <a class="botonBonito2" href="/newPassword">Cambiar mi contraseña</a>
  <a class="botonBonito2" href="/deleteUser">Eliminar mi cuenta</a>
</div>
<div class="layer2" id="About-us">
  <h2 class="alterLayer">Sobre Nosotros</h2>
  <p class="alterP">Ofrecemos una gestión integral de contratos, asegurando el almacenamiento seguro de todos los detalles contractuales, seguimiento de renovaciones y modificaciones, y cumplimiento con normas internacionales. Proveemos un seguimiento detallado de la carga utilizando tecnologías IoT para rastrear su ubicación en tiempo real. Generamos y almacenamos todos los documentos necesarios para el transporte de mercancías. Mantenemos una base de datos de clientes con información de contacto, historial de transacciones y preferencias. Automatizamos la facturación y el seguimiento de pagos, y generamos reportes financieros detallados.
  </p>
</div>
  <div class="layer3" id="About-us">
  <h2 class="alterLayer">Servicios</h2>
  <p class="alterP">1. Gestión de Contratos<br>
    Ofrecemos una gestión integral de contratos, asegurando el almacenamiento seguro de todos los detalles contractuales, seguimiento de renovaciones y modificaciones, y cumplimiento con normas internacionales.
    <br>
    2. Seguimiento de Carga<br>
    Proveemos un seguimiento detallado de la carga utilizando tecnologías IoT para rastrear su ubicación en tiempo real. Generamos y almacenamos todos los documentos necesarios para el transporte de mercancías.
    <br>
    3. Gestión de Clientes<br>
    Mantenemos una base de datos de clientes con información de contacto, historial de transacciones y preferencias. Automatizamos la facturación y el seguimiento de pagos, y generamos reportes financieros detallados.
  </p>
</div>
<div class="layer2">
  <h2 class="alterLayer">Nuestras Soluciones de Transporte de Mercancías</h2>
  <p class="alterP">Encargados de proveer servicios de transporte de mercancías de alta calidad, garantizando la
    seguridad y puntualidad en cada entrega.</p>
</div>
<div class="overlay" *ngIf="showRegisterCard" >
  <app-register-card (keydown.escape)="closeRegisterCard()"></app-register-card>
</div>